@{
    ViewData["Title"] = "Index";
}

<div>
    <form method="post" asp-controller="CsrfTest" asp-action="IndexPost">
        <input type="text" style="width:200px;" />
        <br />
        <input type="submit" />
        @Html.AntiForgeryToken()
    </form>
</div>
