<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - BlpWeb</title>
    
        <link rel="stylesheet" href="~/styles.css" />
    </head>
    <body>
        <div class="MenuBar">
            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            <partial name="_LoginPartial" />
            <br />
        </div>
        <div class="MainContent">
            @RenderBody()
        </div>

        @RenderSection("Scripts", required: false)
    </body>
</html>
