<?xml version="1.0" encoding="utf-8" ?>
<nlog
    xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    autoReload="true"
    throwExceptions="false">

    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>
    
    <targets>
        <target
            name="console"
            xsi:type="ColoredConsole"
            layout="${longdate}|${level}|${aspnet-TraceIdentifier}|${message}${onexception:${newline}${exception:format=tostring}"/>
        
        <target
            name="allFile"
            xsi:type="File"
            layout="${longdate}|${level}|${logger}|${aspnet-TraceIdentifier}|${message}"
            fileName="${basedir}\Log\all.txt"
            archiveFileName="${basedir}\Log\Archive\all.{#}.txt"
            archiveNumbering="Date"
            archiveEvery="Day"
            maxArchiveFiles="7"/>

        <target
            name="ownFile"
            xsi:type="File"
            layout="${longdate}|${level}|${logger}|${aspnet-TraceIdentifier}|${message}"
            fileName="${basedir}\Log\own.txt"
            archiveFileName="${basedir}\Log\Archive\own.{#}.txt"
            archiveNumbering="Date"
            archiveEvery="Day"
            maxArchiveFiles="7"/>
        
        <target
            name="errorFile"
            xsi:type="File"
            layout="${longdate}|${level}|${logger}|${aspnet-TraceIdentifier}|${message}${onexception:${newline}${exception:format=toString:maxInnerExceptionLevel=10:innerFormat=toString}}"
            fileName="${basedir}\Log\error.txt"
            archiveFileName="${basedir}\Log\Archive\error.{#}.txt"
            archiveNumbering="Date"
            archiveEvery="Day"
            maxArchiveFiles="7"/>
    </targets>

    <rules>
        <!-- 
            Everything
        -->
        <logger name="*" minlevel="Trace" writeTo="console,allFile"/>

        <!-- 
            Send all non-critcal Microsoft logs into a black hole (no writeTo = black hole, final means skip following
            rules if this rule is matched).
        -->
        <logger name="Microsoft.*" maxlevel="Info" final="true"/>
        
        <!--
            Microsoft warning and above 
                and
            All our own logs
        -->
        <logger name="*" minlevel="Trace" writeTo="ownFile"/>

        <!--
            Microsoft warning and above
                and
            Our own logs warning and above
        -->
        <logger name="*" minlevel="Warn" writeTo="errorFile"/>
    </rules>
</nlog>
