@model HomeMsGraphModel
@{
    ViewData["Title"] = "MS Graph test";
}

<div>
    <div>
        <h1>Response from Graph:</h1>
        <pre><code>@Model.GraphResponse</code></pre>
    </div>
    <div>
        <h1>User photo</h1>
        <img src="/AccountTest/ProfilePhoto"/>
    </div>
</div>