body {
    background-color:antiquewhite;
    font-size: 12pt;
}

div.MenuBar {
    border: 1px solid black;
    border-bottom: none;
    padding: 5px;
    background-color: gray;
}

div.MainContent {
    border: 1px solid black;
    border-top: none;
    padding: 5px;
    background-color: white;
}

table.ListingTable
{
    border-collapse:collapse;
}

    table.ListingTable td {
        border: 1px solid black;
        padding: 2px;
        text-align: left;
    }

    table.ListingTable th {
        border: 1px solid black;
        padding: 2px;
        text-align:left;
    }

table.DetailTable {
    border-collapse: collapse;
}

    table.DetailTable td {
        border: 1px solid black;
        padding: 2px;
        text-align: left;
    }

    table.DetailTable th {
        border: 1px solid black;
        padding: 2px;
        text-align: left;
    }

h1 {
    font-size: 18pt;
}

h2 {
    font-size: 17pt;
}

h3 {
    font-size: 16pt;
}

h4 {
    font-size: 15pt;
}

h5 {
    font-size: 14pt;
}

h6 {
    font-size: 13pt;
}
