@model ErrorViewModel

@{
    ViewData["Title"] = "Error";
}

<div>
    An error has occured!
    @if (Model.ShowRequestId)
    {
        <br />
        @:RequestId: @Model.RequestId
    }
    

</div>
